.register{
    padding: var(--padding-mobile);
    font-family: baloo;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-secondary-color);
    display: flex;
    justify-content: center;
    background-color: #fff;
    &__content{
        max-width: 900px;
        margin-bottom: 3rem;
        h2{
        
            text-align: center;
            margin-top: 2rem;
            margin-bottom: clamp(2.5rem, 2rem, 1.5rem);
            font-weight: bold;
        }
        p{
            font-size: clamp(1.5rem, 1.0rem, 0.8rem);
            font-weight: 400;
            margin-bottom: 3rem;
        }
        form{
            background-color: var(--background-color-primary);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: var(--padding-mobile);

            input{
                width: 100%;
                height:3rem;
                border-radius: 5px;
                margin-bottom: 1.2rem;
                &::placeholder{
                    padding-left: 10px;
                    font-size: 1.5rem;
                    font-family: baloo;
                }

            }
          
        }
    }
}