:root{
    --background-color-primary:#1D233E;
    --background-color-secondary:#4D60B4;
    --text-primary-color:#fff;
    --text-secondary-color:black;
    --text-small-size:1.5rem;
    --text-medium-size:1.8rem;
    --text-large-size:2rem;
    --text-xlarge-size:6.4rem;
    --btn-primary-color:#1F46D1;
    --padding-mobile:1rem;
}
body,html{
    scroll-behavior: smooth;
}
