@font-face {
    font-family: "roboto";
    src: url("../font/roboto/Roboto-Medium.ttf");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "roboto";
    src: url("../font/roboto/Roboto-Regular.ttf");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "baloo";
    src: url("../font/Baloo/BalooRegular.ttf");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "baloo";
    src: url("../font/Baloo/BalooMedium.ttf");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "baloo";
    src: url("../font/Baloo/BalooSemiBold.ttf");
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "baloo";
    src: url("../font/Baloo/BalooBold.ttf");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "baloo";
    src: url("../font/Baloo/BalooExtraBold.ttf");
    font-weight: 800;
    font-display: swap;
}


